extends layout 
block content 
    .user-profile
        img(src='../images/' + user.avatar + '.png' alt='Avatar')
        h1 #{user.name}
        h4 Member since #{user.time}
    each n in posts
        .post
            .post-header
                a(href='/user/'+n.name)
                    img(src='../images/' + n.avatar + '.png' alt='Avatar')
                .poster
                    a(href='/user/'+n.name) #{n.text} #{n.name}
                    p #{n.time} hours ago.
            a(href='/post/'+n.post_id)
                .post-message #{n.message}
            .post-footer
                .post-btn 
                    a(href='/post/'+n.post_id) Enter
                if registered    
                    .post-btn
                        if n.liked_status
                            form(class="like" action='/removeLike' method='post')
                                input(type="hidden" name="post_id" value=n.post_id)
                                a(href='/#') Unlike
                        else 
                            form(class="like" action='/leaveLike' method='post')
                                input(type="hidden" name="post_id" value=n.post_id)
                                a(href='/#') Like
                .post-btn #{n.likes} Likes
                .post-btn #{n.replies} Replies